
{{#if articles}}
    {{#each articles}}
    {{log this.title}}
        <li data-id="articleTitle" class="list-group-item"><b>Title: </b>{{this.title}}</li>
        <li data-id="articleLink" class="list-group-item"><b>Link: </b>{{this.link}}</li>
        <li></li>
    {{/each}}
{{else}}
    <li>Sorry, we couldn't find any articles!</li>
{{/if}}

