<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"</script>
  <script> src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"</script>
  <script> src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"</script>
  <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Crafty Drafter</title>
</head>

<div id="bg">
    <img src="../../public/images/beerbg.jpg" class="beer" alt="background">
  </div>

  
  {{{body}}}
</body>

</html>