/* background image*/
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;

}

.bg { 
  /* The image used */
  background-image: url("../images/beerbg.jpg");

  /* Full height */
  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* background image */


/* main-content */
.logo{
  height: 275px;
  margin: 2.5% 26%;
  
}




.main-stuff { 
  position: relative; 
  top: 25px; 
  
  width: 90%; 
  height: 825px; 
  color:black;
  background-image: url(/images/backgrounds/purty_wood/purty_wood.png);
  box-shadow: 10px -10px #ecd9c6;
  border-radius: 25px;
  overflow-y : auto;
}  

.header-card, .welcome{
  text-align: center;
  line-height: 2.6;
}

.card-title {
  text-align: center;
}

.find-beer-card, .add-beer-card {
  margin-top: 15%;
  background-image: url(/images/backgrounds/linedpaper/linedpaper.png);
} 


 .find-beer-card {
   width: 80%;
   margin-left: 40%;
 }

  .add-beer-card {
    margin-left: 50%;
    width: 100%;
    padding: 2.5%;
    margin-bottom: 10%;
    font-size: 18px;
  }

  .find-input {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 15px;
  }


  .btn {
    background-color: #02396d;
    color: #000000;
    margin-top: 15px;
  }

/* main-content */


/* footer */


#pageFooter {
  font-size: 30px;
}


/* footer */
